/*Paul Irish reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

.textContent1 {
    display: flex;
    background-color: #36B7B0;
    flex-flow: column wrap;
    font-family: lato;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent2 {
    display: flex;
    background-color: #F8CCCC;
    flex-flow: column wrap;
    font-family: lato;
    color: black;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
     padding-left: 20%;
    padding-right: 20%;
    
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04556B;
    font-family: lato;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }