/*Paul Irish reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

.textContent1 {
    display: flex;
    background-color: #37bdb6;
    flex-flow: column wrap;
    font-family: lato;
    color: rgb(235, 232, 232);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent2 {
    display: flex;
    background-color: #ff8395;
    flex-flow: column wrap;
    font-family: lato;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent3 {
    display: flex;
    background-color: #eff2e7;
    flex-flow: column wrap;
    font-family: lato;
    color: rgb(36, 36, 36);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent4 {
    display: flex;
    background-color: #ffca26;
    flex-flow: column wrap;
    font-family: lato;
    color: rgb(36, 36, 36);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent5 {
    display: flex;
    background-color: #ffec00;
    flex-flow: column wrap;
    font-family: lato;
    color: rgb(36, 36, 36);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #42ac5d;
    font-family: lato;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 250, 250);
    text-align: center;
    padding: 14px 16px;
   text-decoration:none;
  }
  #contactLink{
text-decoration: none;
color: rgb(127, 74, 138);
  }
  #profile-picture{
      display:flex;
      background-color: #ffec00;
      justify-content: center;
  }
  img{
    max-width: 20em;
    max-height:20em;
    border-radius: 40%;
    padding-top: 5%;
    padding-bottom: 5%
  }
  footer{
    font-size: .8em;
  }
.fab {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
  color:rgb(148, 82, 173);
}
