/*Paul Irish reset: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

.textContent1 {
    display: flex;
    background-color: #26a59fcb;
    flex-flow: column wrap;
    font-family: lato;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent2 {
    display: flex;
    background-color: #e46e7f;
    flex-flow: column wrap;
    font-family: lato;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent3 {
    display: flex;
    background-color: #eff2e7;
    flex-flow: column wrap;
    font-family: lato;
    color: rgb(36, 36, 36);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent4 {
    display: flex;
    background-color: #3757e4;
    flex-flow: column wrap;
    font-family: lato;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  .textContent5 {
    display: flex;
    background-color: #c292e9;
    flex-flow: column wrap;
    font-family: lato;
    color: white;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 20%;
    padding-right: 20%;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
    overflow: hidden;
    background-color: #2f552f;
    font-family: lato;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(255, 250, 250);
    text-align: center;
    padding: 14px 16px;
   text-decoration:none;
  }
  #contactLink{
  text-decoration: none;
  color: black;
  }
  #profile-picture{
      display:flex;
      background-color: #face49;
      justify-content: center;
  }
  #profilePicture{
    max-width: 20em;
    max-height:20em;
    border-radius: 40%;
    padding-top: 5%;
    padding-bottom: 5%
  }
  footer{
    font-size: .88;
    text-align: right;
  }
.fab {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: right;
  text-decoration: none;
  border-radius: 50%;
  color:rgb(148, 82, 173);
}
#form {
  display: flex;
  background-color: #eff2e7;
  flex-flow: column wrap;
  font-family: lato;
  color: rgb(36, 36, 36);
  text-align: left;
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
}
  #input-button{
    font-size: 20px;
    font-family:lato;
    text-align: center;
    max-width: 100px;
    align-items: center;
  }
input[type=text] , #subject, #email{
  font-family: lato;
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box;
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
.navbar a:hover{
  text-decoration: none;
 color: white;}
 .textContent3 a{
   color:skyblue;
 }
 .textContent3 a:hover{
  color:black;
  }
.textContent1 a{
  color: rgb(117, 15, 117)
   }